body{
    margin: 0;
    font-family: sans-serif;
}
#page-heading{
    
    margin: 25px;
    color: grey;
}

.text-centre{
    text-align: center;
}
.remove-border{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid;
}
.change-background-color{
    background-color:blue;
    
}
.margin-2px{
    margin-bottom: 2px;
}
#flex-use:hover{
    background-color: grey;
}
#flex-use{
    align-items: center;
  display: inline-flexbox;
  justify-content: center;
}
